<div class="content">
  <h1> thnkout <span id="subtitle"> "A plantform for thinking and outputing" </span></h1>

  <br>


  <ul>
    <li class="animate-repeat" ng-repeat="topic in topics">
      <h3>
        <span class="badge badge-success">お題数:{{ topic.numOfOpinion}}</span>
        <span class="badge badge-warning">
         意見数:{{topic.numOfSubTopic}}</span><br>
        {{ topic.title}}
      </h3>
      <button class="pure-button pure-button-success">お題作成</button>
      <button class="pure-button pure-button-secondary">意見を言う</button>
    </li>
  <ul>
</div>

