<div class="content">
  {{ id }}
  <h2> テーマ: {{ data.name }} </h2>
  <br>
  <ul class="nav nav-tabs">
    <li ng-class="{active: selection == 'summary'}"><a ng-click="clickTab('summary')">サマリー</a></li>
    <li ng-class="{active: selection == 'infoCollection'}"><a ng-click="clickTab('infoCollection')">情報収集</a></li>
    <li ng-class="{active: selection == 'mece'}" ><a ng-click="clickTab('mece')">MECE</a></li>
  </ul>

  <br>
  <div ng-switch on="selection" ng-init="selection='summary'">
    
    <div ng-switch-when="summary">
      <!-- <div ng-include="'views/summary.html'" ng-controller="summaryCtrl" ng-init='theme_ID=data.name'></div> -->
      <div ng-include="'views/summary.html'" ng-controller="summaryCtrl"></div>
    </div>

    <div ng-switch-when="infoCollection">
      <div ng-controller="InformationCollectionCtrl" ng-include="'views/information-collection.html'"></div>
    </div>

    <div  ng-switch-when="mece">
      <div ng-controller="ThemeCtrl" ng-include="'views/theme.html'"></div>
    </div>

  </div>
  <br>
</div>
<br>

