<div class="content">
  {{ id }}
  <h2> テーマ: {{ data.name }} </h2>

  <ul class="nav nav-tabs">
    <li ng-class="{active: selection == 'home'}"><a ng-click="clickTab('home')">情報収集</a></li>
    <li ng-class="{active: selection == 'settings'}" ><a ng-click="clickTab('settings')">MECE</a></li>
    <li><a href="#">SWOT</a></li>
  </ul>

  <br>
  <div ng-switch on="selection">
          <div  ng-switch-when="settings">Settings Div</div>
          <div  ng-switch-when="home">Home Span</div>
          <div  ng-switch-default>default</div>
   </div>


  <div class="form-inline row" role="form">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" id="" placeholder="考えるテーマをここに記入. 例) マスメディアの功罪について " ng-model="theme">
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-info" ng-click="createTheme(theme)">考える</button>
    </div>
  </div>


  <br>
</div>
<br>

