<div class="content">
  <h1> thnkout <span id="subtitle"> "A plantform for thinking and outputing" </span></h1>

  <br>

  <center>
  <h2> This is the toptic to detabe </h2>
  <hr>
  <h3>Claim(my thoguhts/opinion)</h3>

  <input type='textarea'></input>

  <h3>Data(supporting facts of my claim)</h3>

  <input type='textarea'></input>

  <h3>Warrant(Relation betwen claim and data)</h3>

  <input type='textarea'></input>
  <br><br>
  <button class="pure-button pure-button-success">投稿する</button>
  <input type="checkbox">twitterにも投稿</input>

  </center>

</div>

