<div class="content">
  <div class="form-inline row" role="form">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" id="" placeholder="考えるテーマをここに記入. 例) マスメディアの功罪について " ng-model="theme">
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-info" ng-click="createTheme(theme)">テーマを作成する</button>
    </div>
  </div>
  <br>





    <!-- Service Blcoks -->
    <div class="row servive-block margin-bottom-10">
        <div class="col-md-3 col-sm-6">
          <div class="servive-block-in servive-block-colored servive-block-green">
            <h4>考えていますか？</h4> 
            <div><i class="icon-bell"></i></div>
            <br>
            <p>
              情報過多の時代。新聞やテレビ等のメディアでは情報を流し続けています。情報を集めることに日々一生懸命かもしれません。
              しかし、それは情報のコピー。頭を使うのを止めてしまっている。自分自身の成長するために考えることから始めませんか？
            </p>
          </div>

          <br>

          <div class="servive-block-in servive-block-colored servive-block-grey">            
            <h4>ツール</h4>
            <div><i class="icon-globe"></i></div>
            <p>
              情報収集, MECE等の分析するツールセット。みんなで考える集合知の利用。分析結果を元に考えてみてください。
            </p>
          </div>

        </div>
        <div class="col-md-3 col-sm-6">
          <div class="servive-block-in servive-block-colored servive-block-red">
            <h4>検索できないもの</h4>
            <div><i class="icon-bullhorn"></i></div>
            <br>
            <p>
              世の中には答えの存在しないものがあります。それは検索することはできません。Thnkoutは自分で物事を考えて答えを導き出すツールを提供します。
            </p>
          </div>

          <br>

          <div class="servive-block-in servive-block-colored servive-block-sea">            
            <h4>価格</h4>
            <div><i class="icon-lightbulb"></i></div>
            <p>
              無料で利用できます。あなたが作成したテーマはパブリックとなります。プライベートのテーマを作成する場合は月額300円で利用可能です。
            </p>
          </div>
          
        </div>
        <div class="col-md-3 col-sm-6">

          <div class="tag-box tag-box-v3">
            <div class="headline"><h2>最近のテーマ</h2></div>
            <ul>
              <li ng-repeat="theme in themes"> <a href="/#/main/{{ theme.id }}">{{ theme.name}}</a></li>
            </ul>
          </div>

        </div>

        <div class="col-md-3 col-sm-6">
        </div>
    </div><!--/servive-block-->

  <br>
</div>
<br>

