<div class="container">
  {{ topicID }}
  <h2> Topic: {{ data.topic.name }} </h2>
  <div class="row">
  <div class="col-md-2">
    <select ng-model="strategy_name" ng-change="selectStrategy()" class="form-control">
      <option ng-repeat="strategy in strategies">{{ strategy }}</option>
    </select>
  </div>
  <div class="col-md-2">
    <select ng-model="approach_name" ng-change="selectApproach()" class="form-control">
      <option ng-repeat="approach in approaches[strategy_name]">{{ approach }}</option>
    </select>
  </div>
  <div class="col-md-7">
    <textarea class="form-control" rows="2" ng-model="out"></textarea>
  </div>
  <div class="col-md-1">
    <button type="submit" class="btn btn-success" ng-click="send(out, strategy_name, approach_name)">Add</button>
  </div>
</div>
  {{ strategy_name}} {{ approach_name}}
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default" ng-repeat="strategy in data.topic.strategies | strategyFilter:strategy_name" >
      <div class="panel-heading"> {{ strategy_name }} : {{ strategy.description }} </div>
      <div class="panel-body">
        <div class="panel panel-default" ng-repeat="(approach, ideas) in strategy.approaches">
          <div class="panel-heading"> {{ approach }} </div>
          <div class="panel-body">
            <div ng-repeat="idea in ideas">
              {{ idea.user}} : {{ idea.last_update }} : {{ idea.thoughts }}
               <button type="button" class="btn btn-default btn-xs">Think deeply</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-success btn-lg btn-block">Summary</button>
<br>
</div>